<!DOCTYPE html>
<html>
  <head>
    <title>SheilaArt</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <h1>SheilaReid</h1>

    <%= yield %>

<p>Made with ❤️ by Emilia</p>
  </body>
</html>
