<!DOCTYPE html>
<html>
  <head>
    <title>SheilaArt</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <style>
      h1 {
        text-align: center;
        margin-top: 50px;
         color: #803030;
         font-family: "Shadows Into Light", static;
        font-size: 60px;
         font-weight: 700;
      }

      h2 {
        text-align: center;
        margin-top: 50px;
         color: #803030;
         font-family: "Shadows Into Light", static;
        font-size: 40px;
         font-weight: 700;
      }
    </style>
  </head>

  <body>
    <h1>SheilaReid</h1>
    <%= yield %>
    <p>Made with ❤️ by Emilia</p>
  </body>
</html>
